In [29]:
with open('One.txt') as mytext:
    words_one = mytext.read().lower().split()
    uni_words_one = set(words_one)
with open('Two.txt') as mytext:
    words_two = mytext.read().lower().split()
    uni_words_two = set(words_two)    

all_uni_words = set()
all_uni_words.update(uni_words_one,uni_words_two)

full_vocab = dict()
i = 0
for word in all_uni_words:
    full_vocab[word] = i
    i += 1

one_freq = [0] * len(full_vocab)
two_freq = [0] * len(full_vocab)
all_words = [''] * len(full_vocab)

with open('One.txt') as f:
    one_text = f.read().lower().split()
for word in one_text:
    word_ind = full_vocab[word]
    one_freq[word_ind] += 1

with open('Two.txt') as f:
    two_text = f.read().lower().split()
for word in one_text:
    word_ind = full_vocab[word]
    two_freq[word_ind] += 1
    
for word in full_vocab:
    word_ind = full_vocab[word]
    all_words[word_ind] += word
    
import pandas as pd
bow = pd.DataFrame(data=[one_freq,two_freq],columns=all_words)

In [30]:
bow

,pets,canine,story,animals,surfing,sport,is,a,are,popular,fun,water,our,furry,about,dogs,waves,catching,this
0,1,1,1,1,0,0,1,1,1,0,0,0,1,1,1,2,0,0,1
1,1,1,1,1,0,0,1,1,1,0,0,0,1,1,1,2,0,0,1